/* Included new Font styles */
.nixie-one-font,
.raleway-font {
  font-family: "Helvetica", sans-serif;
}

/* Included new Content styling */
body {
  background-color: #f4f4f4;
  font-family: "Helvetica", sans-serif;
}

/* Tweaked the colors */
#mybio,
#skills-Main-Heading,
#education,
#mycontactdetails,
#workexperience {
  color: #333;
  font-size: 2.5rem;
  padding: 10px;
  background-color: #fff;
  margin: 15px 0;
  border-radius: 5px;
  text-align: center;
}

.section-content {
  font-size: 1rem;
  padding: 10px;
  margin: 15px 0;
  color: #666;
}

#mybiopic {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 5px;
}

.backToSection a {
  text-decoration: none;
  color: #333;
}
